<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <span id="wt_1">반약탈서버</span>
        <span id="wt_2">에</span>
        <span id="wt_3">오신것</span>
        <span id="wt_4">을</span>
        <span id="wt_5">환영</span>
        <span id="wt_6">합니다!</span>
        <span id="wd_1">저희서버는 "마인크래프트 정품"없이는 로그인이 불가능하며, 게임을 접속하실 수 없습니다.</span>
        <span id="wd_2">주의사항을 확인하셨으면, 바로 서버를 즐기러 가보실까요?</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                다음으로 >
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>